@import '../../mixins/mixins.scss';
@import '../../globals/globals.scss';


.main_background {
    position: relative;
    max-width:1920px;
    height: 740px;
    &_tutorial{
        display: none;
    }
    &_lock img {
        max-width: 180px; 
        position: absolute; 
        max-height: 220px; 
        left: 13%;
        top: 325px;
        z-index: 1;
    }
    &_page img {
        position: absolute;
        max-width: 490px;
        max-height: 480px;
        left: 5%;
        top: 160px;
    }
    &_line_violet img {
        position: absolute;
        max-width: 70%;
        max-height: 283px; 
        left: 0px; 
        top: 400px;
    }
    &_book img {
        position: absolute;
        max-width: 230px;
        max-height: 220px;
        left: 38%;
        top: 490px;
        z-index: 1;
    }
    &_line_gray img {
        position: absolute;
        max-width: 70%;
        max-height: 519px;
        left: 0px;
        top: 210px;
    
    }
    &_cookie img {
        position: absolute;
        max-width: 150px;
        max-height: 100px;
        left: 23%;
        top: 460px;
    }
    &_paperplane img{
        position: absolute;
        max-width: 85px;
        max-height: 95px;
        left: 65%;
        top: 370px;
    }
}
.main_swiper{
    &_solution{
        display: none;
    }
}
.main_tutorial-streamline{
    display: none;
}
.main_cardPricing{
    display: none;
}
.main_safeguards_large{
    display: none;
}
.main_tutorial_small{
    position: relative;
    &_background{
        left: 18%;
        height: 89px;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
    }
    h5{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #B6BFD9;
    }

    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        text-align: center;
        color: #1D212A;
    }
    &_button{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        &_generate{
            @include generate;
            border:none;
            font-family: $Poppins;
        }
        &_learn{
            @include learn;
            border: none;
            font-family: $Poppins;
        }
    }
}

.main_streamline_small{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 500px;

    &_background img{
        position: absolute; 
        width: 100%; 
        max-width:746px;
        left: 10px; 
        top: 50px; 
    }
    &_description{
        padding-top: 10%;
        padding-left: 5%;
        &_text_gradient{
            position: absolute;
            width: 254px;
            max-height: 288px;
            // left: 853px;
            top: 500px;
            background-repeat: no-repeat;
        }
        &_name{
            font-family: $Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #B6BFD9;
        }
        &_title{
            font-family: $Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            color: #1D212A;
        }
        &_more{
            padding-top: 1%;
            font-family: $Open_Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #565A65;
        }
    
        &_detail{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        padding-top: 4%;
        padding-left: 5%;

        &_firstPoint, &_secondPoint, &_thirdPoint, &_fourthPoint, &_fifthPoint{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap:14px;
        }
        &_style{
            font-family: $Open_Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #565A65;
        }
    }
    &_button{
        display: flex;
        justify-content: center;
        gap: 5%;
        padding-top: 3%;
        &_generate{
            @include generate;
        }
        &_learn{
            @include learn;
        }
    }
}
}

.main_img_small{
    background-color: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 18%;
    row-gap: 30px;
    justify-items: center;
    justify-content: center;
    padding: 2% 5%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    z-index: 2;
    top: 50px;

    div {
        max-width: 129px;
        p{
            font-family: $Open_Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #1D212A;
        }
    }
}

.main_safeguards_small{
    position: relative;
    z-index: 1;
    &_background{
        width:100%;
        max-height: 1000px;
    }
    &_images{
        display: grid;
        grid-template-columns: 130px;
        position: absolute;
        top: 850px;
        gap: 15%;
        left: 45%;
    }
    &_compliant {
        width: 130px;
        height: 112px;
        
    }
    &_text{
        position: absolute;
        z-index: 3;
        top: 40%;
        color: white;
        max-width: 60%;
        text-align: center;
        left: 20%;
        gap:15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

         h3{
            font-family: $Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #E7E9ED;
         }
         h1{
            font-family: &$Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
         }
         h4{
            font-family: &$Open_Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #E7E9ED;
         }
    }
}

.main_swiperPost{
    position: relative;
    left:2%;
    max-width:90%;
}
.main_post {
        padding:4% 4%;
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .main_post_title{
            .large_h3{
                display: none;
            }
            .large_p{
                display: none;
            }
            .large_h4{
                display: none;
            }
             h3{
                font-family: $Poppins;
                font-style: normal;
                font-weight: 500;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #B6BFD9;
            }
    
           p{
                font-family: $Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                text-align: center;
                color: #1D212A;
            }
    
            h4{
                font-family: $Open_Sans;
                font-style: normal;
                font-weight: 400;
                text-align: center;
                color: #565A65;
            }
        }
        
        &_container{
            display: flex;
            flex-direction: column;
            padding: 0px;
            gap: 16px;
    
            .main_postNews{ 
                max-width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
           &_learn {
            @include learn;
            max-width:214px;
           }
           h2{
            font-family: $Poppins;
            font-style: normal;
            font-weight: 400;
            }
            h4{
                padding-top:15px;
                font-family: $Open_Sans;
                font-style: normal;
                font-weight: 400;
            }
            }
        }
    
        .main_post_button {
            margin:0 auto;
        &_generate{
            margin-top:8%;
            @include generate;
        }
    }
}

.main_background {
    @include respond-to(medium){
        &_page img {
            max-width: 590px;
            max-height: 580px;
            left: 15%;
        }
            &_lock img {
                max-width: 134px; 
                max-height: 135px; 
                left: 13%;
            }
            &_book img {
                max-width: 280px;
                max-height: 280px;
                left: 43%;
            }
            &_cookie img {
                left: 23%;
            }
            &_line_violet img{
                max-width: 60%;
            }
            &_line_gray img{
                max-width: 60%;
            }
            &_paperplane img{
                left:55%;
            }
        }
    }
    .main_tutorial_small{
        &_background{
            left: 23%;
        }
    }

    .main_safeguards_small{
      @include respond-to(medium){
      h3{
        font-size: 16px;
      }
     h1{
        font-size: 32px;
     }
     h4{
        font-size: 20px;
     }
    }
}

.main_background {
    @include respond-to(large){
        &_tutorial{
            display: block;
            max-width: 437px;
            position: relative;
            top:150px;
            left:25%;
            z-index: 1;
            &_text{
                font-family:$Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #B6BFD9;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                
            &_aggrements{
                width: calc(89%);
                font-family: $Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 120%;
                color: #1D212A;
                }
                
            &_aggrements_policy{
                    font-family: $Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    color: #646464; 
                    &_color{
                        color:#32D989;
                    }
                    &_bolder {
                        font-weight: bold;
                    }
                }
            &_button{
                display: flex;
                gap:3%;
                &_generate{
                        display: inline-block;
                        padding: 12px 32px;
                        border-radius: 8px;
                        border: none;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color:white;
                        position: relative;
                        transition: 0.5s;
                        margin-bottom: 5px;
                        background-color: #8770FF;
                        cursor: pointer;

                        &:hover{
                            background: #8770FF;
                            color: white;
                            transition: 0.5s;

                            &::before{
                                display: none;
                            }

                            &::after{
                                display: none;
                            }
                        }
                    }
                &_learn{
                    display: block;
                    padding: 12px 45px 12px 32px;
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #1D212A;
                    position: relative;
                    transition: 0.5s;
                    border: none;
                    cursor: pointer;
                
                    &::after{
                        content: '';
                        width: 2px;
                        height: 8px;
                        transform: rotate(45deg);
                        background: #32D989;
                        position: absolute;
                        top: 23px;
                        left: 135px;
                    }
                
                    &::before{
                        content: '';
                        width: 2px;
                        height: 8px;
                        transform: rotate(-45deg);
                        background: #32D989;
                        position: absolute;
                        top: 19px;
                        left: 135px;
                    }
                
                }
            }}
    
    &_lock img {
        max-width: 150px; 
        max-height: 330px; 
        left: 2%;
    }
    &_page img {
        position: absolute;
        max-width: 560px;
        max-height: 600px;
        left: 55%;
        top: 160px;
    }
    &_line_violet img {
        position: absolute;
        max-width: 70%;
        max-height: 283px; 
        left: 0px; 
        top: 400px;
    }
    &_book img {
        position: absolute;
        max-width: 430px;
        max-height: 320px;
        left: 55%;
        top: 490px;
        z-index: 1;
    }
    &_line_gray img {
        position: absolute;
        max-width: 80%;
        max-height: 519px;
        left: 0px;
        top: 210px;
    
    }
    &_cookie img {
        position: absolute;
        max-width: 300px;
        max-height: 250px;
        left: 23%;
        top: 540px;
    }
    &_paperplane img{
        position: absolute;
        max-width: 85px;
        max-height: 95px;
        left: 65%;
        top: 370px;
    }
    }
}

.main_tutorial_small{
    @include respond-to(large){
        display: none;
    }
}
.main_streamline_small{
    @include respond-to(large){
        display: none;
    }
}
.main_tutorial-streamline{
    @include respond-to(large){
        display: block;
        display: flex;
        position: relative;
        margin-top:60px;
        margin-bottom: 8%;
        &_background {
            left:2%;
            img{
                max-width:100%;
            }
        }
    &_text_gradient{
            position: absolute;
            max-width: 254px;
            max-height: 288px;
            left: 775px;
            z-index: 3;
            opacity: 0.7;
            top: -180px;
            font-family: $Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 288px;
            background: linear-gradient(180deg, #FFFFFF 91.39%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            }
        &_description{
            margin-top:4%;
            &_name{
                font-family: $Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #B6BFD9;
                }
            &_title{
                left: calc(50% - 380px/2 + 205px);
                font-family: $Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                color: #1D212A;
                }
            &_more{
                max-width: 411.01px;
                max-height: 130px;
                font-family: $Open_Sans;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #565A65;
                }
            &_button{
                display: flex;
                gap: 5%;
                margin-top: 50px;
                &_generate{
                    @include generate;
                    padding: 12px 24px;
                    cursor: pointer;
                }
                &_learn{
                    @include learn;
                    padding: 12px 61px 12px 54px;
                    cursor: pointer;
                    
                }
            }
              &_detail{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top:20px;
                padding: 0px;
                gap: 16px;
                max-width: 550px;
                height: 304px;
             
                &_firstPoint,
                &_secondPoint,
                &_thirdthPoint,
                &_fourthPoint,
                &_fifthPoint,
                &_sixthPoint,
                &_seventhPoint,
                &_eigthPoint{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap:14px;      
                }
            &_style{
                font-family: $Open_Sans;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #565A65;  
            }
            &_background{
                width: 20px;
                height: 20px;
            }
            }  
        }  
    }
}   
.main_swiper{
    @include respond-to(large){
    position: relative;
    &_solution{
            display: block;
            position:absolute;
            top: -125px;
            font-family: $Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 288px;
            opacity:0.8;
            background: linear-gradient(180deg, #FFFFFF 31.39%, rgba(255, 255, 255, 0) 94.79%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}

.main_cardPricing{
    @include respond-to(large){
    display: block;
    position: relative;
    &_background{
        margin: 0 auto;
        width: 1231px;
        height: 1131px;
        background-repeat: no-repeat;
      
    }
    &_cardLubenda{
            position: absolute;
            width: 464px;
            height: 454px;
            left: -1%;
            top: 45%;
            background-repeat: no-repeat;
            img {
                width:80%;
            }
        }
        &_cardGetPrivacy{
            position: absolute;
            width:443px;
            height: 280px;
            left: -4%;
            top: 5%;
            background-repeat: no-repeat;
            background-size: cover;
            filter: brightness(1.2);
        }
        &_cardGetTerms{ 
            position: absolute;
            width: 390px;
            height: 500px;
            background-repeat: no-repeat;
            top: 1%;
            left:75%;
            filter: brightness(1.2);
            background-size: cover;
        }
        &_cardShopify{
            position: absolute;
            width: 442px;
            height: 260px;
            left: 75%;
            top: 42%;
            background-repeat: no-repeat;
        }
        .main_cardPricing_detail{
            position: absolute;
            max-width: 520px;
            width: 100%;
            height: 223px;
            left: 35%;
            top: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 16px;

            p{
                    font-family: $Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #B6BFD9;
                
                }
                h2{
                    font-family: $Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 120%;
                    text-align: center;
                    color: #1D212A;
                    }
                    h4{
                    font-family: $Open_Sans;
                    font-style: normal;
                    font-weight: 400;
                    text-align: center;
                    color: #565A65;
                 }
           }
           &_cardCircle{
                position: absolute;
                width: 267px;
                height: 203px;
                left: 43%;
                top: 40%;
                background-repeat: no-repeat;
                }
            &_acsess{
                position: absolute;
                width: 206px;
                height: 29px;
                left: 43%;
                top: 65%;
            h2,h5{
                    font-family: $Poppins;
                    font-style: normal;
                    font-weight: 400;
                    text-align: center;
                    color: #1D212A;
                } 
            }
            &_cardPencil{
                position: absolute;
                width: 40%;
                height: 690px;
                left: 55%;
                top: 48%;
                background-repeat: no-repeat;
            }
}
}
.main_safeguards_small{
 @include respond-to(large){
    display: none;
 }
}
.main_safeguards_large{
    @include respond-to(large){
        position: relative;
        display: block;
        margin-top:200px;
        .main_img_large{
            height: 380px;
            display: grid; 
            grid-template-columns: auto auto auto auto;   
            background-color: #FFFFFF;
            border-radius: 8px;
            gap:5%;
            column-gap: 18%;
            row-gap: 20%;
            width: 60%;
            justify-items: center;
            justify-content: center;
            padding: 3% 6%;
            margin: 0 auto;
            margin-top: 2%;
            position: absolute;
            z-index: 2;
            top: -340px;
            left:18%;
        }
        &_background img{
            width:100%;
        }
    }
}


.main_swiperPost{
    @include respond-to(large){
        left:10%;
        max-width: 100%;
    }
}
.main_post{
    @include respond-to(large){
        max-width: 100%;
        margin: 0;
        .main_post_title{
            .large_h3{
                display: block;
                font-family: $Poppins;
                    font-style: normal;
                    font-weight: 500;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #B6BFD9;
            }
            .large_p{
                display: block;
                font-family: $Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                text-align: center;
                color: #1D212A;
            }
            .large_h4{
                display: block;
                font-family: $Open_Sans;
                font-style: normal;
                font-weight: 400;
                text-align: center;
                color: #565A65;
            }
                 h3{
                    display: none;
                }
        
               p{
                    display: none;
                }
        
                h4{
                    display: none;
                }
        }
    &_container{
        display:flex;
        flex-direction: row;
        padding: 0px;
        gap: 16px;
    }
}
}

