@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
// Poppins use with Roboto because Poppins doesn't support cyrillic
// Open Sans use with Nunito because Open Sans doesn't support cyrillic

$text-color:#1D212A;
$bkog-paragraph: #565A65;
$Iterms-button:#8770FF;
$Poppins:"Poppins", "Roboto";
$Open_Sans:"Open Sans", "Nunito";